* {
  margin: 0px;
  padding: 0px;
  background-color: white;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 1200px;
  background: #000;
  /* box-shadow: 0 25px 30px rgba(0, 0, 0, 5); */
  display: flex;
}

h1 {
  font-weight: bolder;
  font-size: 100px;
}

li {
  display: inline;
  padding: 20px;
  margin: 10px;
  font-size: 30px;
}

span {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 100%;
}

.content {
  width: calc(50% - 50px);
  height: 50%;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 230px;
}

.imageBox {
  width: calc(50% + 50px);
  height: 100%;
  background: rgba(2, 65, 255, 0.299);
  box-sizing: border-box;

  border-left: 100px solid #fff;
  border-bottom: 700px solid transparent;
  background-image: url(image2.png);
  background-position: -84px 30px;
  background-repeat: no-repeat;
}

.content p {
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
